<div class="head head-wrapper">
  <button class="back" (click)="goBack()">Retour</button>

  <span class="name-country title">
    <strong>{{ (country$ | async)?.country }}</strong></span
  >

  <span class="ghost"></span>
</div>
<div class="stats">
  <span class="number number-entries"
    >Number of entries :
    <strong>{{ (country$ | async)?.participations.length }}</strong></span
  >
  <span class="number number-medals"
    >Total number of medals : <strong>{{ totMedals$ | async }}</strong></span
  >
  <span class="number number-athletes"
    >Total number of athletes :
    <strong>{{ totAthletes$ | async }}</strong></span
  >
</div>

<div id="divChart">
  <canvas id="myChart"></canvas>
</div>
